<! — views/partials/footer.ejs →
<footer class=”footer”>
    <div class=”container”>

        <!--THis page is just a footer will be shown on each page-->
        <p class=”text-center text-muted”>© Brandon Roy Public Profile 2016</p>
    </div>
</footer>