
<!DOCTYPE html>
<html lang="en">


<!--
filename:Home
Author:Brandon Roy

websitename:BrandonRoyPublicProfile

description:
THis will be the home page and will have links and a navbar to go to different pages
-->


<head>
 <meta charset="UTF-8">
 <title>About me</title>

</head>
<body>


<h1>About me</h1>
<pre>I am a programming student at Georgian college. I have a computer systems technician diploma </pre>



</body>
</html>