<!DOCTYPE html>
<html lang="en">


<!--
filename:Home
Author:Brandon Roy

websitename:BrandonRoyPublicProfile

description:
THis will be the home page and will have links and a navbar to go to different pages
-->


<head>
    <meta charset="UTF-8">
    <title>Home</title>

</head>
<body>


<h1>Welcome to my public portfolio</h1>






</body>
</html>