<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='public/stylesheets/style.css' />
  </head>
  <body background="./desk.jpg">
    <h1><%= title %></h1>


<header><% include ./partials/header %></header>


<footer><% include ./partials/footer %></footer>